<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/public/style/form-style.css">
    <link rel="stylesheet" href="/public/style/error-message.css">
    <script src="/public/script/error.js"></script>
    <script src="/public/script/login.js"></script>
<body>
<div class="form-container">

    <form id="form-login">
        <h3>Login to the Help Desk</h3>
        <div style="display: none" class="error-message"></div>
        <div>
            <label for="input-email">User Name: </label>
            <span><input id="input-email" type="text" required/></span>
        </div>
        <div>
            <label for="input-password">Password: </label>
            <span><input id="input-password" type="password" required/></span>
        </div>
        <button type="submit" id="submit-button">Enter</button>
    </form>
</div>
</body>
</html>