<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style/form-style.css">
    <script src="../static/script/login.js"></script>
<body>
<div class="form-container">
    <form>
        <h3>Login to the Help Desk</h3>
        <div>
            <label for="input-email">User Name: </label>
            <span><input id="input-email" type="text"/></span>
        </div>
        <div>
            <label for="input-password">Password: </label>
            <span><input id="input-password" type="password"/></span>
        </div>
        <button type="submit" id="submit-button">Enter</button>
    </form>
</div>
</body>
</html>