<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/public/style/ticket-overview.css">
</head>
<body>

<div class="ticket-container"
     id="ticket-container">
</div>

<div class="table-buttons">
    <button id="history-button">history</button>
    <button id="comment-button">comments</button>
</div>


<div class="table-container"
     id="table-container">
</div>

<div class="comment-input-container"
     id="comment-input-container"></div>


<script src="../static/public/script/ticket-overview.js"></script>
</body>
</html>