* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 350;
    font-family: sans-serif;
    color: black;
}

header {
    padding-bottom: 20px;
}

body {
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    min-height: 100vh;
}

.drop-area {
    width: 650px;
    height: 150px;
    background: #043927;
    text-align: center;
    align-content: center;
    border-radius: 30px;
    cursor: pointer;
    margin-bottom: 15px;
    padding-top: 10px;
}

.drop-input {
    visibility: hidden;
}

.file-container {
    position: relative;
    display: inline-block;
    margin-top: 5px;
}

.filename {
    color: wheat;
}

.thumbnail {
    margin-top: 5px;
    position: relative;
}

.delete-button {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: darkred;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    width: 90%;
    height: 20px;
    font-size: 12px;
    display: none;
    cursor: pointer;
}

.file-preview {
    display: inline-block;
    text-align: center;
}

.file-preview img,
.file-preview embed,
.file-preview iframe {
    display: block;
    margin: 0 auto;
}

.ticket-form {
    max-width: 720px;
    max-height: 750px;
    padding: 25px;
    border: 2px solid #043927;
    border-radius: 35px;
}

.ticket-form input,
.ticket-form textarea,
.ticket-form select {
    max-width: 650px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-top: 3px;
    min-height: 30px;
    border-radius: 15px;
    border: 2px solid #043927;
    margin-bottom: 15px;
}

#category {
    text-align: center;
}

#urgency {
    text-align: center;
}

#desired-resolution-date {
    text-align: center;
}

button {
    padding: 5px;
    all: unset;
    text-align: center;
    align-content: center;
    transition-duration: 0.45s;
}

.create-or-edit-button {
    height: 35px;
    width: 65px;
    border-radius: 10px;
    background-color: #043927;
    color: wheat;
    margin-right: 10px;
}

.draft-button {
    height: 35px;
    width: 115px;
    border-radius: 10px;
    background-color: #043927;
    color: wheat;
}

.create-or-edit-button:hover {
    background-color: wheat; /* Changed to green */
    color: #043927;
}

.draft-button:hover {
    background-color: wheat; /* Changed to green */
    color: #043927;
}

.to-ticket-overview-or-ticket-list-button {
    height: 35px;
    width: 115px;
    border-radius: 10px;
    background-color: #043927;
    color: wheat;
    position: fixed;
    top: 20px;
    left: 20px;
}

.to-ticket-overview-or-ticket-list-button:hover {
    background-color: wheat; /* Changed to green */
    color: #043927;
}