/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 50vh;

}

.rating {
    height: 500px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.card {
    max-width: 33rem;
    background: #fff;
    margin: 0 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    border-radius: 0.5rem;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.comment {
    border: solid 1px cornflowerblue;
    border-radius: 3px;
    margin: 10px;
    overflow: auto;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.star {
    font-size: 5vh;
    cursor: pointer;
}

.one {
    color: rgb(255, 0, 0);
}

.two {
    color: rgb(255, 106, 0);
}

.three {
    color: rgb(244, 248, 83);
}

.four {
    color: rgb(138, 251, 131);
}

.five {
    color: rgb(24, 159, 14);
}
